---
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));

const pageTitle: string = "My Astro Learning Blog";
---

<BaseLayout pageTitle={pageTitle}>

    <p>
    This is my blog site. I am learning astro cuz i have been thinking about it for a while
    now. I also want to learn React and Next.js. 
    </p>
    <p>
        This is where i will post about my journey learning Astro.
    </p>

    <ul>
        {allPosts.map((post: any) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
    </ul>
</BaseLayout>
